    /* alignment of name in nav */
    .navbar-sai {
        padding-top: 34px;
        padding-bottom: 34px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    @media screen and (max-width: 768px) {
        .navbar-sai {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        }
    }

    .probootstrap-navbar .navbar-sai {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 30px;
        text-transform: uppercase;
        /* background: url(../img/logo.png) no-repeat left 100%; */
        top: 31px;
        position: relative;
        width: 160px;
        height: 43px;
        text-indent: -999999px;
        -webkit-transition: .2s all;
        transition: .2s all;
    }

    @media screen and (max-width: 768px) {
        .probootstrap-navbar .navbar-sai {
        top: 5px !important;
        background-position: left 100%;
        }
    }

    @media screen and (max-width: 380px) {
        .probootstrap-navbar .navbar-sai {
        top: 0px !important;
        }
        .probootstrap-navbar .navbar-sai .heading{
            font-size: 11px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            color: #152c55;
        }
    }

    @media screen and (max-width: 430px) {
        .probootstrap-navbar .navbar-sai {
        top: 0px !important;
        }
        .probootstrap-navbar .navbar-sai .heading{
            font-size: 14px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            color: #152c55;
        }
    }

    @media screen and (max-width: 768px) {
        .probootstrap-navbar .navbar-sai {
        top: 0px !important;
        }
        .probootstrap-navbar .navbar-sai .heading{
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            color: #152c55;
        }
    }
  
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        .probootstrap-navbar .navbar-sai {
        position: relative;
        width: 160px;
        height: 43px;
        /* background: url(../img/logo@2x.png) no-repeat left 100%; */
        background-size: cover;
        }
    }

    .probootstrap-navbar.scrolled .parent-nav-link-padding, .probootstrap-navbar.scrolled .navbar-sai, .probootstrap-navbar.scrolled .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
      
    .probootstrap-navbar.scrolled .navbar-sai {
        top: 10px;
        background-position: left 100%;
    }

    .container-fluid .navbar-sai {
        margin-left: 15px;
    }
    
    /* screen background */
    .screen{
        background-color: white;
    }

    /* navigation above part visibility */
    .probootstrap-header-top {
        position: relative;
        z-index: 1000;
    }

    .probootstrap-navbar .navbar-nav > li.active > a {
        background: none !important;
        color: #d8a025 !important;
    }

    /* Define the keyframes for the jiggling effect */
    @keyframes jiggling {
        0% { transform: rotate(-5deg); }
        50% { transform: rotate(5deg); }
        100% { transform: rotate(-5deg); }
    }

    /* Apply the animation to the anchor tag */
    .jiggle:hover {
        animation: jiggling 0.3s ease-in-out infinite;
    }
    
    
    /* color and hovering on two buttons(upcoming and featured) */
    .nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
        border-radius: 0px;
        padding: 20px 30px;
        background: #152c55;
        color: #ffffff;
        font-size: 16px;
        border: none !important;
    }

    .nav-tabs.probootstrap-tabs > li > a:hover, .nav-pills.probootstrap-tabs > li > a:hover {
        background: #d8a025;
    }
    
    .nav-tabs.probootstrap-tabs > li > a:active, .nav-tabs.probootstrap-tabs > li > a:focus, .nav-pills.probootstrap-tabs > li > a:active, .nav-pills.probootstrap-tabs > li > a:focus {
        outline: none;
    }
      
    .nav-tabs.probootstrap-tabs > li.active > a, .nav-pills.probootstrap-tabs > li.active > a {
        background: #ffffff;
        color: #000000;
    }
      
    .nav-tabs.probootstrap-tabs.no-border, .nav-pills.probootstrap-tabs.no-border {
        border-bottom: none;
    }
    
      /* boxes hovering color */
    .probootstrap-featured-news-box:hover .probootstrap-text, .probootstrap-featured-news-box:focus .probootstrap-text {
        background: #d8a025;
        top: -40px;
        -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    }

    .probootstrap-featured-news-box .probootstrap-text {
        position: relative;
        z-index: 2;
        background: #ffffff;
        padding: 20px;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
        margin-left: 10px;
        margin-right: 10px;
        top: -30px;
        -webkit-transition: .3s all;
        transition: .3s all;
        border-bottom: 3px solid #152c55;
      }

      /* make same height to all featured courses */
      .equal-height {
        display: flex;
      }
      
      .equal-height [class*="col-"] {
        display: flex;
        flex-direction: column;
      }
      
      .equal-height .probootstrap-service-2 {
        flex: 1;
    }
    
    /* courses styles */
    .probootstrap-service-2 {
        border: 1px solid white;
        background-color: white;
        margin-bottom: 20px; /* Adjust the value to set the desired gap */
    }
      
    .probootstrap-service-2 .text {
        background: white;
    }
    
    .probootstrap-service-2 .image {
        background: white;
    }
    .probootstrap-service-2 .text h3 {
        color: #152c55;
        font-weight: bold;
    }
      
    .probootstrap-service-2 .text p {
        color: black;
        margin-top: 5px;
    }
      
    .probootstrap-service-2 .text a.jiggle1 {
        background-color: #152c55;
        color: white;
    }
    
    .probootstrap-service-2 .text a.jiggle2 {
        background-color: #d8a025;
        color: white;
    }
    .probootstrap-service-2 .text .enrolled-count {
        color: black;
    }
    
    .probootstrap-service-2 {
        transition: margin-top 0.3s ease;
    }
      
    .probootstrap-service-2:hover {
    margin-top: -15px;
    }
    
    /* one course seperate */
    .center1{
        margin-top: 160px;
    }

    @media screen and (max-width: 480px) {
        .center1{
            margin-top: 0px;
        }
    }
    
    @media screen and (max-width: 990px) {
        .center1{
            margin-top: 0px;
        }
    }

    @media (max-width: 767px) {
        .probootstrap-service-2 .text .btn {
          margin-bottom: 10px; /* Adjust the value as needed */
        }
      }
      

    /* why us section */
    .section-heading h2 {
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .service .icon i {
        color: #152c55;
    }

    .custom-section{
        /* background: linear-gradient(white,black); */
        margin-top: 30px;
    }
    
    .lead{
        color: black;
    }
    .hover-effect{
        transition: transform 0.3s ease;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        /* font-weight: bold; */
    }
    .hover-effect1{
        transition: transform 0.3s ease;
        color: #152c55;

    }
    .hover-effect:hover {
        transform: translateX(5px);
    }
    .hover-effect1:hover {
        transform: translateX(5px);
    }
    
    /* enroll button and section */
    .probootstrap-cta {
        padding: 3em 0;
        background: #d8a025;
        color: #ffffff;
    }

    .probootstrap-cta .btn.btn-ghost {
        background: #152c55;
        color: white;
        border-color: #152c55;
    }

    .probootstrap-cta .btn.btn-ghost:hover {
        background: #ffffff;
        color: #152c55;
        border-color: #ffffff;
    }
    
    /* pages section heading background */
    .probootstrap-section.probootstrap-section-colored {
        background: linear-gradient(#152c55,white);
    }
      
    /* gallery */
    /* CSS for the caption */
    .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    }

    .portfolio-item .caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Change the background color and opacity as needed */
    color: #fff; /* Change the text color as needed */
    padding: 10px;
    text-align: center;
    opacity: 0; /* Hide the caption by default */
    transition: opacity 0.3s;
    }

    .portfolio-item:hover .caption {
    opacity: 1; /* Show the caption on hover */
    }

    .full-height {
        height: 100vh;
    }

    /* admission style highlights */
    .facility {
        position: relative;
        overflow: hidden;
    }
      
    .facility img {
        transition: transform 0.3s;
    }
      
    .facility:hover img {
        transform: scale(1.1);
    }
      
    .facility-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        transition: opacity 0.3s;
        opacity: 0;
    }
    
    .facility:hover .facility-details {
        opacity: 1;
    }
   
    /* CSS */
    .image-container {
        position: relative;
        display: inline-block;
    }

    .enlarge-image {
        transition: transform 0.3s;
    }

    .enlarge-image:hover {
        transform: scale(1.1); /* Change the scale value to enlarge within its size */
    }
