{% extends 'base.html' %}
{% load static %}

{% block title4 %}
active
{% endblock %}

{% block content %}

<section class="probootstrap-section" style="background: linear-gradient(black,#152c55);" id="admission_form">
  <div class="container">
    <h1 style="font-family: 'Times New Roman', Times, serif;color: white;" class="text-center">Admission Form</h1>
    <div class="row">
      <div class="col-md-12">
        <marquee behavior="scroll" direction="left">
          <h3 style="color: #d8a025; font-family: 'Times New Roman', Times, serif;font-weight: bold;margin-top: 30px;">Discover the future of medicine at SaiSidd and shape your future in healthcare!. Enroll now!</h3>
        </marquee>
      </div>
    </div>    
    <div class="row">
      <!-- Content on the left side of the form -->
      <div class="col-md-6">
        <h2 style="color: white;font-family: 'Times New Roman', Times, serif;">Sai Sidd Group of Institution</h2>
        <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident suscipit natus a cupiditate ab minus illum quaerat maxime inventore Ea consequatur consectetur hic provident dolor ab aliquam eveniet alias</p>
      </div>
      <!-- Form on the right side of the content -->
      <div class="col-md-6">
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
        {% endif %}
        <form id="admissionForm" action="{% url 'admission' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" style="color: white;">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <small id="name-error" style="color: red; display: none;">Name should contain only alphabets</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone" style="color: white;">Mobile Number:</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
                <small id="phone-error" style="color: red; display: none;">Please enter a valid phone number</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" style="color: white;">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <small id="email-error" style="color: red; display: none;">Invalid email format</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="state" style="color: white;">State:</label>
                <select class="form-control" name="state" id="state" required>
                  <option value="">Select State</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="city" style="color: white;">City:</label>
                <input type="text" class="form-control" id="city" name="city" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pincode" style="color: white;">Pincode:</label>
                <input type="text" class="form-control" id="pincode" name="pincode" required>
                <small id="pincode-error" style="color: red; display: none;">Pincode should be 6 digits</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="department" style="color: white;">Department:</label>
                <select class="form-control" id="department" name="department" required>
                  <option>Select Department</option>
                  <option value="B.Sc. Nursing">B.Sc. Nursing</option>
                  <option value="Bachelor of Physiotherapy">Bachelor of Physiotherapy</option>
                  <option value="Bachelor of Pharmacy">Bachelor of Pharmacy</option>
                  <!-- <option value="department4">Department 4</option> -->
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="checkbox">
                <label style="color: white;"><input type="checkbox" name="agree" required> I agree to the terms and conditions</label>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-default jiggle" style="background-color: #d8a025;color: white;" name="submit">
            </div>
          </div>
        </form>

        <script>
          document.getElementById('admissionForm').addEventListener('submit', function(event) {
              var nameInput = document.getElementById('name').value.trim();
              var phoneInput = document.getElementById('phone').value.trim();
              var emailInput = document.getElementById('email').value.trim();
              var pincodeInput = document.getElementById('pincode').value.trim();
      
              var nameRegex = /^[a-zA-Z ]+$/;
              var phoneRegex = /^[0-9]{10}$/;
              var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
              var pincodeRegex = /^\d{6}$/;
      
              var valid = true;
      
              if (!nameRegex.test(nameInput)) {
                  document.getElementById('name-error').style.display = 'block';
                  valid = false;
              } else {
                  document.getElementById('name-error').style.display = 'none';
              }
      
              if (!phoneRegex.test(phoneInput)) {
                  document.getElementById('phone-error').style.display = 'block';
                  valid = false;
              } else {
                  document.getElementById('phone-error').style.display = 'none';
              }
      
              if (!emailRegex.test(emailInput)) {
                  document.getElementById('email-error').style.display = 'block';
                  valid = false;
              } else {
                  document.getElementById('email-error').style.display = 'none';
              }
      
              if (!pincodeRegex.test(pincodeInput)) {
                  document.getElementById('pincode-error').style.display = 'block';
                  valid = false;
              } else {
                  document.getElementById('pincode-error').style.display = 'none';
              }
      
              if (!valid) {
                  event.preventDefault(); // Prevent form submission
              }
          });
      </script>
       <script>
          var indianStates = [
              "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa", "Gujarat", "Haryana",
              "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur",
              "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu",
              "Telangana", "Tripura", "Uttar Pradesh", "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands",
              "Chandigarh", "Dadra and Nagar Haveli and Daman and Diu", "Delhi", "Lakshadweep", "Puducherry"
          ];

          var stateSelect = document.getElementById("state");

          indianStates.forEach(function(state) {
              var option = document.createElement("option");
              option.text = state;
              stateSelect.add(option);
          });
      </script>
      </div>
    </div>
  </div>
</section>
  
  
    <section class="probootstrap-section probootstrap-bg-light">
    <div class="container">
        <div class="row">
        <div class="col-md-12 text-center">
            <h2>College Facilities & Infrastructure</h2>
            <p>Experience our state-of-the-art facilities and infrastructure designed to enhance your learning experience.</p>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="facility">
            <img src="{% static '/img/verbo_corousel1.jpg' %}" alt="Facility 1" class="img-responsive">
            <div class="facility-details">
                <h3>Library</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde fugiat voluptates repellat commodi aliquam, numquam minima quae incidunt iure.</p>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="facility">
            <img src="{% static '/img/verbo_corousel2.jpg' %}" alt="Facility 2" class="img-responsive">
            <div class="facility-details">
                <h3>Laboratories</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde fugiat voluptates repellat commodi aliquam, numquam minima quae incidunt iure.</p>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="facility">
            <img src="{% static '/img/verbo_corousel3.jpg' %}" alt="Facility 3" class="img-responsive">
            <div class="facility-details">
                <h3>Sports Facilities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde fugiat voluptates repellat commodi aliquam, numquam minima quae incidunt iure.</p>
            </div>
            </div>
        </div>
        </div>
        <div class="row" style="margin-top: 10px;">
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="facility">
            <img src="{% static '/img/verbo_corousel2.jpg' %}" alt="Facility 4" class="img-responsive">
            <div class="facility-details">
                <h3>Library</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde fugiat voluptates repellat commodi aliquam, numquam minima quae incidunt iure.</p>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="facility">
            <img src="{% static '/img/verbo_corousel3.jpg' %}" alt="Facility 5" class="img-responsive">
            <div class="facility-details">
                <h3>Laboratories</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde fugiat voluptates repellat commodi aliquam, numquam minima quae incidunt iure.</p>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 10px;">
            <div class="facility">
            <img src="{% static '/img/verbo_corousel1.jpg' %}" alt="Facility 6" class="img-responsive">
            <div class="facility-details">
                <h3>Sports Facilities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas unde fugiat voluptates repellat commodi aliquam, numquam minima quae incidunt iure.</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
  
    <section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>College Events and News</h2>
                <p>Experience our state-of-the-art facilities and infrastructure designed to enhance your learning experience.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static '/img/verbo_corousel3.jpg' %}" alt="" class="img-responsive"></figure>
                <div class="probootstrap-text">
                    <h3>Tempora consectetur unde nisi</h3>
                    <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                    <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static '/img/verbo_corousel2.jpg' %}" alt="" class="img-responsive"></figure>
                <div class="probootstrap-text">
                    <h3>Tempora consectetur unde nisi</h3>
                    <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                    <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
                <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static '/img/verbo_corousel1.jpg' %}" alt="" class="img-responsive"></figure>
                <div class="probootstrap-text">
                    <h3>Tempora consectetur unde nisi</h3>
                    <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                    <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static '/img/verbo_corousel3.jpg' %}" alt="" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Tempora consectetur unde nisi</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static '/img/verbo_corousel1.jpg' %}" alt="" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Tempora consectetur unde nisi</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 probootstrap-animate">
              <a href="#" class="probootstrap-featured-news-box">
                <figure class="probootstrap-media"><img src="{% static '/img/verbo_corousel2.jpg' %}" alt="" class="img-responsive"></figure>
                <div class="probootstrap-text">
                  <h3>Tempora consectetur unde nisi</h3>
                  <span class="probootstrap-date"><i class="icon-calendar"></i>July 9, 2017</span>
                  <span class="probootstrap-location"><i class="icon-location2"></i>White Palace, Brooklyn, NYC</span>
                </div>
              </a>
            </div>
        </div>
    </div>
    </section>

{% endblock %}