{% extends 'base.html' %}
{% load static %}

{% block title5 %}
active
{% endblock %}

{% block content %}

<section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left section-heading probootstrap-animate mb0">
          <h1 class="mb0">College Gallery</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static '/img/verbo_corousel2.jpg' %}">
                        <img src="{% static '/img/verbo_corousel2.jpg' %}" alt="Image caption here" class="img-responsive">
                        <div class="caption">
                        Image caption here
                        </div>
                    </a>
                </div>
            </div>
            <!-- Repeat the above structure for other images -->

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static '/img/verbo_corousel4.jpg' %}">
                        <img src="{% static '/img/verbo_corousel4.jpg' %}" alt="Image caption here" class="img-responsive">
                        <div class="caption">
                        Image caption here
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{% static '/img/verbo_corousel5.jpg' %}">
                    <img src="{% static '/img/verbo_corousel5.jpg' %}" alt="Image caption here" class="img-responsive">
                        <div class="caption">
                        Image caption here
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                  <a href="{% static '/img/verbo_corousel1.jpg' %}">
                    <img src="{% static '/img/verbo_corousel1.jpg' %}" alt="Image caption here" class="img-responsive">
                        <div class="caption">
                        Image caption here
                        </div>
                  </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                  <a href="{% static '/img/verbo_corousel2.jpg' %}">
                    <img src="{% static '/img/verbo_corousel2.jpg' %}" alt="Image caption here" class="img-responsive">
                        <div class="caption">
                        Image caption here
                        </div>
                  </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                  <a href="{% static '/img/verbo_corousel3.jpg' %}">
                    <img src="{% static '/img/verbo_corousel3.jpg' %}" alt="Image caption here" class="img-responsive">
                        <div class="caption">
                        Image caption here
                        </div>
                  </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                  <a href="{% static '/img/verbo_corousel4.jpg' %}">
                    <img src="{% static '/img/verbo_corousel4.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                      Image caption here
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                  <a href="{% static '/img/verbo_corousel5.jpg' %}">
                    <img src="{% static '/img/verbo_corousel5.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                      Image caption here
                    </div>
                  </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                  <a href="{% static '/img/verbo_corousel1.jpg' %}">
                    <img src="{% static '/img/verbo_corousel1.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                      Image caption here
                    </div>
                  </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel2.jpg' %}">
                    <img src="{% static '/img/verbo_corousel2.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel3.jpg' %}">
                    <img src="{% static '/img/verbo_corousel3.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel4.jpg' %}">
                    <img src="{% static '/img/verbo_corousel4.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel5.jpg' %}">
                    <img src="{% static '/img/verbo_corousel5.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel1.jpg' %}">
                    <img src="{% static '/img/verbo_corousel1.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel2.jpg' %}">
                    <img src="{% static '/img/verbo_corousel2.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel3.jpg' %}">
                    <img src="{% static '/img/verbo_corousel3.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel.jpg' %}">
                    <img src="{% static '/img/verbo_corousel4.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                <a href="{% static '/img/verbo_corousel5.jpg' %}">
                    <img src="{% static '/img/verbo_corousel5.jpg' %}" alt="Image caption here" class="img-responsive">
                    <div class="caption">
                    Image caption here
                    </div>
                </a>
                </div>
            </div>
        </div>  
    </div>
</section>

{% endblock %}